.LogoImage{
    left:0px;
    top:0;
}
.ComapnyLogo{
    width: 13%;
    height: 13%;
    margin: 2% 0% 2% 6%;
}
.userAuth{
    height: 65%;
    width: 65%;
    margin: 25% auto;
}
.ProfilePic{
    width: 13%;
    height: 13%;
    border-radius: 20px;
    margin: 3% 2% 2% 3%;
    border-color: black;
}