.FeedDiv{
    display: flex;
    border-radius: 10px;
    width: 50%;
    height: 50%;
    margin: 5% auto;
}
.FeedData{
    margin: 6% 2% 0 3%;
}
.semicricle{
    background-color: #FF748C;
    display: inline-block;
    margin-left: auto; 
    margin-right: 0;  
    margin-top: 10%;  
    margin-bottom: 10%;
    padding-left: 5%;
    height: 60px;
    width: 10px;
    border-bottom-left-radius: 90px;
    border-top-left-radius: 90px;
}
.FeedPage{
    margin: 5% 0 0 0;
}