.SignUphHeading{
    color: #5D676E;
    font-weight: bolder;
    margin: 2% 5% 6% 5%;
    font-size: 30px;
}
.ForgotPassword{
      color: #5D676E;
      margin: 2% 1% 1% 5%;
      padding-right: 17%;
}
h3{
    color: white;
}