.UserProfileDiv{
    display: flex;
    margin: 4% auto;
    padding: 2px;
    width: 700px;
}
.UserProfileData{
    display: inline-block;
    margin: 0 auto;
    padding: 6px;
}
.UserProfileInfo{
    display: flex;
    margin: auto;
}