.UserDiv{
    display: flex;
    border-radius: 10px;
    width: 30%;
    height: 30%;
    margin: 2% auto;
    border-bottom: 2px solid #D1D4D6;
}
.FollowersData{
    margin: 6% 2% 0 3%;
    display: flex;
}